@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-base leading-normal tracking-wide antialiased box-border;
}

*,
*::before,
*::after {
  @apply box-border m-0;
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white  px-3 py-2 rounded-md text-sm;
  }
}

.breakout-container {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}