@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply box-border text-base antialiased leading-normal tracking-normal bg-white font-manrope text-[#707070];
}

*,
*::before,
*::after {
  @apply box-border m-0;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold
}

#footer a:hover,
#footer .router-link-exact-active {
  @apply text-white
}

.nav-link:hover,
.nav-link .router-link-exact-active {
  @apply text-black
}

@layer components {
  .btn {
    @apply px-3 py-2 text-sm text-white bg-blue-500 rounded-md;
  }
}

.breakout-container {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}